@media (max-width: 768px) {
    .about-item {
        width: 100%;
    }
    .food-items {
        width: 100%;
    }
    .phan-hoi-item {
        width: 100%;
        margin-bottom: 20px;
    }
    .team-items {
        width: 100%;
        margin-bottom: 45px;
    }
    .footer-item {
        width: 50%;
    }
    .footer-item:last-child{
        width: 100%;
        margin-top: 30px;
    }
    .logo, .menu-bar{
        margin: 0 12px;
    }
    .container {
        width: 100vw;
    }
}